<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Login</title>

<style th:replace="@{/shared/admin/_style}"></style>

<script th:replace="@{/shared/admin/_script}"></script>

<style>

	.table td, .table th{
		border-top: 0px solid #dee2e6;
	}

</style>

</head> 
<body class="hold-transition login-page" style="background-image: url(images/bg.jpg);background-repeat: no-repeat;">
		<div class="login-box">
		  <!-- /.login-logo -->
		  <div class="card card-outline card-primary">
		    <div class="card-header text-center">
		      <a href="" class="h1"><b>ADMIN </b> THDS</a>
		    </div>
		    <div class="card-body">
		
		      <form th:action="@{/login}" method="post">
		        <div class="input-group mb-3">
		          <input type="text" class="form-control" id="username" name="username" placeholder="Email">
		          <div class="input-group-append">
		            <div class="input-group-text">
		              <span class="fas fa-envelope"></span>
		            </div>
		          </div>
		        </div>
		        <div class="input-group mb-3">
		          <input type="password" class="form-control" id="password"  name="password" placeholder="Password">
		          <div class="input-group-append">
		            <div class="input-group-text">
		              <span class="fas fa-lock"></span>
		            </div>
		          </div>
		        </div>
		        
		     
		
			        <div class="social-auth-links text-center mt-2 mb-3">
			      
			        
			         <!--  <input type="submit" value="Sign In"/> -->
			          
			        <button class="btn btn-sm btn-primary btn-block btn_login" type="submit">Sign in</button>
			        
			        
			        
			        	
			      </div> 
			      
			      
		      
		       </form>
		    </div>
		    <!-- /.card-body -->
		  </div>
		  <!-- /.card -->
		</div>
		
		
		
	      
	      <script th:src="@{/js/login.js}"></script>
</body>
</html>