  <html xmlns:th="https://www.thymeleaf.org"
  		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
  		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin_layout">
<head>
<meta charset="UTF-8">

</head>
<body>
		    
		    
<th:block layout:fragment="content">
	<!-- Content Wrapper. Contains page content -->
	  <div class="content-wrapper">
	    <!-- Content Header (Page header) -->
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1 class="m-0 text-dark">បញ្ជីឈ្មោះអ្នកប្រើប្រាស់</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="#">Home</a></li>
	              <li class="breadcrumb-item active">Dashboard v1</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    <!-- /.content-header -->
	
	    <!-- Main content -->
	    <section class="content">
	      <div class="container-fluid">
	        
	        <div class="row">
	          <div class="col-12">
	            <div class="card">
	              <div class="card-header">
	                <h3 class="card-title">បង្កើតសំណើរ</h3>
	
	                <div class="card-tools">
	                  <div class="input-group input-group-sm" style="width: 150px;">
	                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
	
	                    <div class="input-group-append">
	                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
	                    </div>
	                  </div>
	                </div>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body table-responsive p-0" id="results1">
	                <table class="table table-hover text-nowrap" th:fragment="list">
	                  <thead>
	                    <tr>
	                      	<th>ស្ថានភាព</th>
	                      	<th>កម្មវិធីតាមដាន</th>
							<th>អាទិភាព</th>
							<th> ប្រធានបទ</th>
							<th>អ្នកចាត់តាំង</th>
							<th>បានធ្វើបច្ចុប្បន្នភាព</th>
							<th>រួចរាល់</th>
	                    </tr>
	                  </thead>
	                  <tbody id="issuesData">
	                   



	                    
	                  </tbody>
	                </table>
	              </div>
	              <!-- /.card-body -->
	            </div>
	            <!-- /.card -->
	          </div>
	        </div>
	        
	        
	        
	        
	      </div><!-- /.container-fluid -->
	    </section>
	    <!-- /.content -->
	  </div>
	  <!-- /.content-wrapper -->

	
	<script th:src="@{/js/request.js}"></script>
</th:block> 




</body>
</html>