@charset "ISO-8859-1";
body {
    font-family: Battambang,Arial,Helvetica,sans-serif;
    
}

.moul {
    font-family: moul !important;
}

.tblNonBorder tbody tr td, .tblNonBorder tbody tr th{
	border: none;
} 

.hide_menu{
	display: none !important;
}



